<!-- BEGIN META-INF/resources/templates/screens/XDATScreen_report_fs_longFSData.vm -->


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Longitudinal Freesurfer Analysis Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>Longitudinal Freesurfer Analysis Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>Subject</TD><TD>$!item.getStringProperty("fs:longFSData/subject_ID")</TD></TR>
							<TR><TD>Date</TD><TD>$!item.getProperty("fs:longFSData/date")</TD></TR>
							<TR><TD>Time</TD><TD>$!item.getProperty("fs:longFSData/time")</TD></TR>
							<TR><TD>Note</TD><TD>$!item.getStringProperty("fs:longFSData/note")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("fs:longFSData/label")</TD></TR>
							<TR><TD>Project</TD><TD>$!item.getStringProperty("fs:longFSData/project")</TD></TR>
							<TR><TD>Freesurfer version</TD><TD>$!item.getStringProperty("fs:longFSData/fs_version")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $user $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</table>

<BR/>
<BR/>


<BR/>
<BR/>
#set ($scanCounter = 0)
<a name="LINK${scanCounter}" href="#LINK${scanCounter}" onClick=" return blocking($scanCounter);">
		  <img ID="IMG$scanCounter" src="$content.getURI("images/plus.jpg")" border=0>
	Included Timepoints
</a>

<BR/>
<BR/>


<span ID="span$!scanCounter" style="position:relative; display:none;">
#set($fs_longfsData_timepoints_11_NUM_ROWS=$item.getChildItems("fs:longfsData/timepoints/timepoint").size() - 1)

<table>
	#foreach($fs_longfsData_timepoints_11_COUNTER in [0..$fs_longfsData_timepoints_11_NUM_ROWS])
	#set ($timepoint_id = $!item.getStringProperty("fs:longfsData/timepoints/timepoint[$fs_longfsData_timepoint_11_COUNTER]/imageSessionID"))
        #set ( $url = "$link.setAction('DisplayItemAction').addPathInfo('search_element','xnat:mrSessionData').addPathInfo('search_field','xnat:mrSessionData.ID').addPathInfo('search_value',$timepoint_id).addPathInfo('popup',$popup)" )
	<TR>
		<TD>
		<a href="$url">MR - $timepoint_id</A>
		</TD>
	</TR>
	#end
</TABLE>	
</span>

#set ($scanCounter = 1)
<a name="LINK${scanCounter}" href="#LINK${scanCounter}" onClick=" return blocking($scanCounter);">
		  <img ID="IMG$scanCounter" src="$content.getURI("images/plus.jpg")" border=0>
	Subcortical Segmentation
</a>


<span ID="span$!scanCounter" style="position:relative; display:none;">
<table>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>ICV</TD><TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/icv"),0)</TD></TR>
							<TR><TD>Left hemi. cortical gray matter vol.</TD><TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/lhcortexvol"),0)</TD></TR>
							<TR><TD>Right hemi. cortical gray matter vol.</TD><TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/rhcortexvol"),0)</TD></TR>
							<TR><TD>Total cortical gray matter vol. (based on surface-stream) </TD><TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/cortexvol"),0)</TD></TR>
							<TR><TD>Subcortical gray matter vol.</TD><TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/subcortgrayvol"),0)</TD></TR>
							<TR><TD>Total gray matter vol.</TD><TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/totalgrayvol"),0)</TD></TR>
							<TR><TD>Supratentorial vol.</TD><TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/supratentorialvol"),0)</TD></TR>
							<TR><TD>Left hemi. cortical white matter vol.</TD><TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/lhcorticalwhitemattervol"),0)</TD></TR>
							<TR><TD>Right hemi. cortical white matter vol.</TD><TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/rhcorticalwhitemattervol"),0)</TD></TR>
							<TR><TD>Total cortical white matter vol.</TD><TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/corticalwhitemattervol"),0)</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">&nbsp;
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN fs_fsData VOLUMETRIC MEASURES -->
#set($fs_fsData_region_11_NUM_ROWS=$item.getChildItems("fs:longFSData/measures/volumetric/regions/region").size() - 1)
#if($fs_fsData_region_11_NUM_ROWS>=0)
<table>

  <tr><TH>Region Name</TH><TH>Seg Id</TH><TH>Hemisphere</TH><TH>NVoxels</TH><TH>Volume</TH><TH>Mean</TH><TH>Range</TH></tr>							
	
	#foreach($fs_fsData_region_11_COUNTER in [0..$fs_fsData_region_11_NUM_ROWS])
<!-- BEGIN fs_fsData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER] -->
	<tr>
	<TD>$!item.getStringProperty("fs:longFSData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/name")</TD>
	<TD>$!item.getStringProperty("fs:longFSData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/SegId")</TD>
	<TD>$!item.getStringProperty("fs:longFSData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/hemisphere")</TD>
	<TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/NVoxels"),0)</TD>
	<TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/Volume"),0)</TD>
	<TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/normMean"),4) +-$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/normStdDev"),4)</TD>
	<TD>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/normRange"),0)&nbsp;($!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/normMin"),0)-$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:longFSData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/normMax"),0))</TD>
	
	</tr>
	
	
	<!-- END fs_fsData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER] -->
	#end
							

</table>
#end
		</TD>
	</TR>
</TABLE>
</span>

<BR/>


<BR/>
#set ($scanCounter = 2)
<a name="LINK${scanCounter}" href="#LINK${scanCounter}" onClick=" return blocking($scanCounter);">
		  <img ID="IMG$scanCounter" src="$content.getURI("images/plus.jpg")" border=0>
	Surface Measures
</a>


<span ID="span$!scanCounter" style="position:relative; display:none;">


<TABLE>
<!-- END fs_fsData VOLUMETRIC MEASURES-->

<!-- BEGIN fs_fsData SURFACE MEASURES-->
	<TR>
		<TD>
#set($fs_fsData_hemisphere_12_NUM_ROWS=$item.getChildItems("fs:longFSData/measures/surface/hemisphere").size() - 1)
#if($fs_fsData_hemisphere_12_NUM_ROWS>=0)


#set ($hemis = $om.getMeasures_surface_hemisphere())
#set ($hemis_NUM_ROWS = $hemis.size() - 1)
#foreach($fs_fsData_hemisphere_COUNTER in [0..$hemis_NUM_ROWS])
	#set ($hemi = $hemis.get($fs_fsData_hemisphere_COUNTER))
	#set ($hemi_regions = $hemi.getRegions_region())
	#set ($hemi_regions_NUM_ROWS = $hemi_regions.size() - 1)
	<table>
	  <tr><TH align="left" colspan="9">Hemisphere: $hemi.getName() NumVert: $!turbineUtils.formatNumber($hemi.getNumvert(),0) SurfArea: $!turbineUtils.formatNumber($hemi.getSurfarea(),0)</TH></TR>
	  <TR><TH>Region Name</TH><TH>NumVert</TH><TH>SurfArea</TH><TH>GrayVol</TH><TH>Thickness</TH><TH>MeanCurv</TH><TH>GausCurv</TH><TH>FoldInd</TH><TH>CurvInd</TH></tr>							

	#foreach($fs_fsData_hemisphere_regions_COUNTER in [0..$hemi_regions_NUM_ROWS])
	#set ($region = $!hemi_regions.get($fs_fsData_hemisphere_regions_COUNTER))
		<tr>
		<TD> $!region.getName()</TD>
		<TD>$!turbineUtils.formatNumber($!region.getNumvert(),0)</TD>
		<TD>$!turbineUtils.formatNumber($!region.getSurfarea(),0)</TD>
		<TD>$!turbineUtils.formatNumber($!region.getGrayvol(),0)</TD>
		<TD>$!turbineUtils.formatNumber($!region.Thickavg,3) +-$!turbineUtils.formatNumber($!region.Thickstd,3)</TD>
		<TD>$!turbineUtils.formatNumber($!region.getMeancurv(),3)</TD>
		<TD>$!turbineUtils.formatNumber($!region.getGauscurv(),3)</TD>
		<TD>$!turbineUtils.formatNumber($!region.getFoldind(),3)</TD>
		<TD>$!turbineUtils.formatNumber($!region.getCurvind(),3)</TD>

		</tr>
	#end
	</table>
#end
#end
		</TD>
	</TR>



<!-- END fs_fsData SURFACE MEASURES-->

</TABLE>
<!-- END META-INF/resources/templates/screens/XDATScreen_report_fs_longFSData.vm -->
